:root{
    --primario: #72141f;
    --secundario: #59595b;
    --fondoBarra: #9b9b9b;
    --bg: #dcdddc;
    --fuenteprincipal: "Tajawal", sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 2;
    font-family: var(--fuenteprincipal);
    
}

/* GLOBALES */

.contenedor{ /* Sirve para marcar los limites de la pagina web*/
    padding: 0 13rem;
    max-width: 100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4
{
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

/**UTILIDADES**/
.centrar-texto{
    text-align: center;
}

/**HEADER**/

.header{
    width: 100%;
}

/**BARRA**/

.barra{
    padding: 1% 13rem;
    background-color: var(--fondoBarra);
    }

@media (min-width: 768px) { 
    .barra{
        padding: 1% 13rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) { 
    .navegacion{
        display: flex;
        gap: 4rem;
        
    }
        
}

.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 2rem ;
    color: var(--primario);
    font-weight: 700;

}

.navegacion__enlace--activo,
.navegacion__enlace:hover
{
    color: var(--bg);
}
.logo{
    color: var(--primario);
    font-size: 2rem;
}

.logo__nombre{
    
   font-weight: 700; 
}

/**FOOTER**/

.footer{
    background-color: var(--fondoBarra);
    margin-top: 3rem;
    padding: 2rem 0;
}


.footer__texto{
    
    color: var(--bg);
    font-size: 1.5rem;
    text-align: center;
}
@media (min-width: 768px) { 
    .footer__texto{
    
        color: var(--bg);
        font-size: 2rem;
        text-align: center;
    }
}




/**BLOQUES**/


@media (min-width: 768px) { 
    .bloques{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        } 
}

.bloque{
    margin-top: 2rem;
    background-color: #c8c8c8;
    text-align: center;
}
.valores{
    margin: 2rem;
}

.bloque__imagen{
    height: 9rem;
}

.bloque__nombre{
    color: var(--primario);
    margin-top: 0;
}

.bloque__contenido{
    margin:  0 1rem;
    padding-bottom: 1rem;
    color: var(--secundario);
    font-weight: 500;
}


@media (min-width: 768px) { 
     .bloque--nosotros{
        padding: 0 10rem 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}



/**SLIDER AUTOMATICO**/
.mySlides__imagen{
    width: 95%
    

}
@media (min-width: 768px) { 
    .mySlides__imagen{
        width: 50%;
        
    
    }
}

/* Slideshow container */
.slideshow-container {
    margin-top: 1rem;
    text-align: center;
    position: relative;
}
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: var(--primario);
  }
  
  /* Fading animation */
  .fade {
    
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  /**CONTACTO**/

.contacto-bg{
    background-image: url(../img/formulario.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
}

.formulario{
    background-color: var(--bg);
    margin: -15rem auto 0 auto;
    width: 95%;
    padding: 5rem
}

.campo{
    color: var(--secundario);
    font-weight: 700;
    display: flex;
    margin-bottom: 2rem;}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field{
    flex: 1;
    border: 1px solid var(--bg);
    padding: 1rem;
}

.campo__field--textarea{
    height: 20rem;
}
.mensaje{
    
    font-size: 3rem;
    font-weight: 700;
    color: #72141f;
    
}


.boton{
    display: block;
    color: #72141f;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

@media (min-width: 768px) { 
    .boton{
        display: inline-block;
    }    
}

/**servicios**/

.servicios-imagen{
    display: flex;
    margin: 0 auto;
    height: 10rem;
    margin-top: 2rem;
}

@media (min-width: 768px) { 
    .servicios-imagen{
        display: flex;
        height: 20rem;
        margin: 3rem auto 3rem;
    }
}



.servicios__nombre{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;


}

.servicio_serv
{
    text-align: center;
    margin: 1rem 0;
}

.servicios__desp{
margin: 5rem auto;

}


@media (min-width: 768px) { 
    .servicios__desp{
        width: 30rem;
        margin: 1rem auto;
    
    }
    
     
}



@media (min-width: 768px) { 
    .servicios{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        
    }
}


.servicios__nombre--terrestre{
    margin:0 -2rem ;
}

details .servicios__nombre--terrestre::marker{
    content: "🚚";
}

details .servicios__nombre--aereo::marker{
    content: "✈️";
}

details .servicios__nombre--maritimo::marker{
    content: "🚢";
}


@media (min-width: 768px) { 
    .otros{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-top: 10%;
        margin-bottom: 15%;
    }
     
}
